.news-search-container {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.news-search-input,
.news-search-select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button-group {
    display: flex;
    justify-content: space-around;
    gap: 10px; /* Space between buttons */
    margin-bottom: 20px;
}

.news-search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1DA1F2;
    color: #fff;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

@media (max-width: 600px) {
    .news-search-container {
        padding: 10px;
    }

    .news-search-input,
    .news-search-select {
        padding: 8px;
    }

    .news-search-button {
        padding: 8px 16px;
    }
}

.news-search-layout {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.news-results {
    margin-top: 20px;
}

/* Desktop view */
@media (min-width: 768px) {
    .news-search-layout {
        flex-direction: row;
        justify-content: flex-end;
    }

    .news-search-container {
        width: 300px;
        margin-right: 20px;
    }

    .news-results {
        flex-grow: 1;
    }
}

/* Mobile view */
@media (max-width: 767px) {
    .news-search-container,
    .news-results {
        width: 100%;
    }
}