.news-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0; /* Add margin to create space between each NewsSearchResult */
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 10px auto; /* Adjusted to add space between each result */
}

.news-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-description {
    margin-bottom: 10px;
}

.news-link {
    display: block;
    margin-bottom: 10px;
    color: #1DA1F2;
    text-decoration: none;
}

.news-link:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .news-container {
        padding: 5px;
    }

    .news-title {
        font-size: 1.2em;
    }

    .news-description {
        font-size: 0.9em;
    }
}